<footer>
    <div>
        <p>&copy; 2024 AmorTenΨia - All rights reserved</p>
        <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> | <a href="#">Contact Us</a></p>
        <div class="social-icons">
            <a href="https://www.facebook.com/61568835072966" target="_blank" title="Facebook"><i
                    class="fab fa-facebook-f"></i></a>
            <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</footer>